.links-container {
    display: flex;
    justify-content: space-around;
}

.redes {
    color: #000;
    &-list {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    font-size: 5rem;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        width: 100%;
    }
    &-container {
        width: 30%;
        margin-bottom: 3rem;
    }
}

.redes-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

@media (max-width:769px) {
    .links-container {
        margin-bottom: 1rem;
        padding: 1rem 2rem;
    }
    .logo-container {
        width: 50%;
    }
}

@media (max-width:481px) {
    .links-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-container {
        width: 70%;
    }
}